*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.container-box{
	position: relative;
	top: 60px;
	margin-bottom: 15px;
}

.row{
	width: 100%;
}

.menutitle{
	text-align: center;
	margin-bottom: 30px;
}

.item{
	position: relative;
	top: 0px;
	background:grey;
	margin: 15px;
	padding:20px;
	border: 3px solid black;
}

.title{
	position: absolute;
	top: 0px;
	right: 0px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	padding:4px 60px;
}

.item p{
	margin-top: 18px;
	text-align: justify;
}

#title-1{
	background: pink;
}
#title-2{
	background: red;
}
#title-3{
	background: yellow;
}

/* simple responsive css*/
/*For desktop  devices only*/

@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** For tablets device **********/
@media (min-width:786px) and (max-width: 992px){
  .col-td-1, .col-td-2, .col-td-3, .col-td-4, .col-td-5, .col-td-6, .col-td-7, .col-td-8, .col-td-9, .col-td-10, .col-td-11, .col-td-12 {
    float: left;
  }
  .col-td-1 {
    width: 8.33%;
  }
  .col-td-2 {
    width: 16.66%;
  }
  .col-td-3 {
    width: 25%;
  }
  .col-td-4 {
    width: 33.33%;
  }
  .col-td-5 {
    width: 41.66%;
  }
  .col-td-6 {
    width: 50%;
  }
  .col-td-7 {
    width: 58.33%;
  }
  .col-td-8 {
    width: 66.66%;
  }
  .col-td-9 {
    width: 74.99%;
  }
  .col-td-10 {
    width: 83.33%;
  }
  .col-td-11 {
    width: 91.66%;
  }
  .col-td-12 {
    width: 100%;
  }
}
/********** For Mobile devices  **********/
@media (max-width:785px){
	.col-lg-4{
		width: 100%;
		float: left;
	}
}
